* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-image: url("/img/2022.jpg");
  height: 100%;
}

.wrapper {
  min-height: 200px;
  margin: 50px auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #fff;
  width: 60%;
  text-align: center;
  box-shadow: -1px 1px 26px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 26px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 26px 3px rgba(0, 0, 0, 0.75);
}

.wrapper h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #4974f7;
}

.wrapper img {
  vertical-align: middle;
}

.wrapper .btn {
  padding: 12px;
  background-color: #4974f7;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.wrapper .btn__add:hover {
  background-color: #87a2f4;
}

.wrapper .btn__clear {
  background-color: yellow;
  color: black;
}

.wrapper .btn__clear:hover {
  background-color: #ececb1;
}

.wrapper .input__field {
  text-align: center;
}

.wrapper .input__field input {
  width: 50%;
  height: 50px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 24px;
  padding-left: 5px;
}

.wrapper .items {
  margin: auto;
  width: 80%;
  margin-top: 30px;
}

.wrapper li {
  height: 50px;
  list-style: none;
  background-color: #f9fbfd;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .task__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
  font-size: 18px;
}

.wrapper .task__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .task__icons i {
  cursor: pointer;
  height: 100%;
  width: 60px;
  font-size: 32px;
  text-align: center;
}

.wrapper .fa-check {
  padding: 8px;
  color: white;
  background-color: green;
  border: 1px solid green;
}

.wrapper .fa-check:hover {
  background-color: #2fa02f;
}

.wrapper .fa-trash-can {
  padding: 8px;
  color: white;
  background-color: red;
  border: 1px solid red;
}

.wrapper .fa-trash-can:hover {
  background-color: #da5454;
}

@media (max-width: 800px) {
  .wrapper {
    padding: 10px;
  }
  .wrapper h1 {
    font-size: 24px;
  }
  .wrapper img {
    display: none;
  }
  .wrapper .input__field input {
    width: 100%;
    font-size: 18px;
  }
  .wrapper .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .btn {
    width: 40%;
    font-size: 12px;
    margin: 5px;
    line-height: 1;
  }
  .wrapper li {
    width: 160px;
    margin: auto 0;
  }
  .wrapper .task__icons {
    margin-top: 10px;
  }
  .wrapper .task__icons i {
    height: 70%;
    width: 30px;
    margin: 1px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */